dgt/WS_SOAP/src/main/webapp/wsdl/WSVehiculo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://wssoap.dgt.formacion.ipartek.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://wssoap.dgt.formacion.ipartek.com" xmlns:intf="http://wssoap.dgt.formacion.ipartek.com" xmlns:tns1="http://pojo.modelo.formacion.ipartek.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://wssoap.dgt.formacion.ipartek.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://pojo.modelo.formacion.ipartek.com"/>
   <element name="obtenerDatos">
    <complexType>
     <sequence>
      <element name="matricula" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerDatosResponse">
    <complexType>
     <sequence>
      <element name="obtenerDatosReturn" type="tns1:Coche"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://pojo.modelo.formacion.ipartek.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Coche">
    <sequence>
     <element name="id" nillable="true" type="xsd:long"/>
     <element name="km" nillable="true" type="xsd:int"/>
     <element name="matricula" nillable="true" type="xsd:string"/>
     <element name="modelo" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="obtenerDatosResponse">

      <wsdl:part element="impl:obtenerDatosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerDatosRequest">

      <wsdl:part element="impl:obtenerDatos" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WSVehiculo">

      <wsdl:operation name="obtenerDatos">

         <wsdl:input message="impl:obtenerDatosRequest" name="obtenerDatosRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerDatosResponse" name="obtenerDatosResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSVehiculoSoapBinding" type="impl:WSVehiculo">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="obtenerDatos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerDatosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerDatosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSVehiculoService">

      <wsdl:port binding="impl:WSVehiculoSoapBinding" name="WSVehiculo">

         <wsdlsoap:address location="http://localhost:8080/wssoap/services/WSVehiculo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
