WS_UAprueba/airportService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v2.api_internal.flighthistory.cache.conducivetech.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://v2.api_internal.flighthistory.cache.conducivetech.com/" name="AirportSoapApiService">
<types>
<xsd:schema>
<xsd:import namespace="http://v2.api_internal.flighthistory.cache.conducivetech.com/" schemaLocation="https://api.flightstats.com:443/flex/flightstatus/soap/v2/airportService?xsd=1" />
</xsd:schema>
</types>
<message name="airportStatus_arr">
<part name="parameters" element="tns:airportStatus_arr" />
</message>
<message name="airportStatus_arrResponse">
<part name="parameters" element="tns:airportStatus_arrResponse" />
</message>
<message name="APIException">
<part name="fault" element="tns:APIException" />
</message>
<message name="airportTracks_arr">
<part name="parameters" element="tns:airportTracks_arr" />
</message>
<message name="airportTracks_arrResponse">
<part name="parameters" element="tns:airportTracks_arrResponse" />
</message>
<message name="airportStatus_dep">
<part name="parameters" element="tns:airportStatus_dep" />
</message>
<message name="airportStatus_depResponse">
<part name="parameters" element="tns:airportStatus_depResponse" />
</message>
<message name="airportTracks_dep">
<part name="parameters" element="tns:airportTracks_dep" />
</message>
<message name="airportTracks_depResponse">
<part name="parameters" element="tns:airportTracks_depResponse" />
</message>
<portType name="airportService">
<operation name="airportStatus_arr">
<input wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportStatus_arrRequest" message="tns:airportStatus_arr" />
<output wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportStatus_arrResponse" message="tns:airportStatus_arrResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportStatus_arr/Fault/APIException" />
</operation>
<operation name="airportTracks_arr">
<input wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportTracks_arrRequest" message="tns:airportTracks_arr" />
<output wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportTracks_arrResponse" message="tns:airportTracks_arrResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportTracks_arr/Fault/APIException" />
</operation>
<operation name="airportStatus_dep">
<input wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportStatus_depRequest" message="tns:airportStatus_dep" />
<output wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportStatus_depResponse" message="tns:airportStatus_depResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportStatus_dep/Fault/APIException" />
</operation>
<operation name="airportTracks_dep">
<input wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportTracks_depRequest" message="tns:airportTracks_dep" />
<output wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportTracks_depResponse" message="tns:airportTracks_depResponse" />
<fault message="tns:APIException" name="APIException" wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportTracks_dep/Fault/APIException" />
</operation>
</portType>
<binding name="airportServicePortBinding" type="tns:airportService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="airportStatus_arr">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="airportTracks_arr">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="airportStatus_dep">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
<operation name="airportTracks_dep">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="APIException">
<soap:fault name="APIException" use="literal" />
</fault>
</operation>
</binding>
<service name="AirportSoapApiService">
<port name="airportServicePort" binding="tns:airportServicePortBinding">
<soap:address location="https://api.flightstats.com:443/flex/flightstatus/soap/v2/airportService" />
</port>
</service>
</definitions>